<div class="center container">
    <div class="jumbotron">
        <h1>* ALPHA BLOG *</h1>
        <hr>
            <p>Bienvenue sur l'Alpha Blog</p>
            <p><%= link_to "S'inscrire au blog 🚀", '#', class:"btn btn btn-lg", style:"background-color: #FE2EC8" %></p>
        <hr>
        
    </div>
</div>