<div class="center container">
    <div class="jumbotron">
        <h1>* Alpha Blog *</h1>
            <p>Bienvenue sur l'Alpha Blog les cocos</p>
            <p><%= link_to "S'inscrire au blog", '#', class:"btn btn-success btn-lg"%></p>
    </div>
</div>