<div class="container">
    <footer>
    <small>
        Alpha Blog from <%= link_to "Rails Heroes Course", "https=//www.railsheroescourse.fr" %> Copyright by Nessy
    </small>
    <nav>
        <ul>
            <li> <%=link_to "A propos", about_path%></li>
        </ul>
    </nav>
    </footer>
</div>